.wrapper {
  padding: 8px;
}
.sep {
  margin: 8px 0;
}
.labels {
  padding: 0 16px;
}
.labelsRow {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.css-3vkyn2-MuiDrawer-docked {
  width: auto !important;
}
